<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Chat</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule=""
      src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"
    ></script>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!--<link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>-->

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='chat.css') }}"
    />
  </head>

  <body>
    <div class="main">
      <div class="rooms-list">
        <div class="messages_header">
          <b>{{ data.username }}</b>
        </div>
      </div>
      <div class="main_message_view">
        <div class="messages_header">
          <div>
            <b>{{ data.room_name }}</b>

            <div class="header_participants"></div>
          </div>

          <div class="header_icon_container">
            <button class="header-icon-button">
              <ion-icon style="font-size: 22px" name="call"></ion-icon>
            </button>

            <button class="header-icon-button">
              <ion-icon name="videocam"></ion-icon>
            </button>

            <button class="header-icon-button" id="info-bar-open-button">
              <ion-icon name="ellipsis-horizontal"></ion-icon>
            </button>
          </div>
        </div>

        <div class="messages"></div>

        <form
          action="/chat"
          method="POST"
          id="chat_form"
          onsubmit="return submitForm(event)"
        >
          <div></div>

          <div id="inputFieldContainer">
            <textarea
              oninput="auto_grow(this)"
              autofocus
              onkeydown="submitFormOnEnterPress(event)"
              id="inputField"
              placeholder="Message"
              rows="1"
            ></textarea>
          </div>

          <button type="submit" id="submit_button">
            <ion-icon name="send"></ion-icon>
          </button>
        </form>
      </div>

      <div class="info-bar">
        <div class="messages_header">
          <b>Information</b>

          <button class="header-icon-button" id="info-bar-close-button">
            <ion-icon name="close"></ion-icon>
          </button>
        </div>

        <div class="info-bar-content">
          <b>Room Code: </b>
          <p>{{ data.room }}</p>

          <div class="participants">
            <b>Participants</b>

            {% for user in data.participants %}
            <p>{{ user }}</p>
            {% endfor %}
          </div>

          <br />

          <b>Invite Link:</b>
          <p id="invite_link"></p>

          <button class="info-bar-action-button" onclick="leave()">
            Leave
          </button>
        </div>
      </div>
    </div>

    <script>
      var socket = io.connect(window.location.href, {
        transports: ["websocket"],
      });

      $(document).ready(function () {
        var participants = eval("{{ data.participants|safe }}");
        for (var user in participants) {
          $(".header_participants")[0].append(
            participants[user].trim() +
              (user == participants.length - 1 ? "" : ", ")
          );
        }

        for (let room of eval("{{ data.all_rooms|safe }}")) {
          console.log(room.id);
          $(".rooms-list").append(
            `<div class='room' id='${
              room.id == "{{ data.room }}" ? "active-room" : ""
            }'>` +
              room.name +
              "</div>"
          );
        }

        /*$("#invite_link").text(
          window.location.origin + "/invite?code={{ data.room }}"
        );*/
        document.getElementById("inputField").maxAllowedHeight = 150;
        auto_grow(document.getElementById("inputField"));

        $(".rooms-list .messages_header, .info-bar .messages_header").height(
          $(".main_message_view .messages_header").height()
        );
      });

      function submitFormOnEnterPress(e) {
        if (e.which == 13 && !e.shiftKey) {
          submitForm(e);
        }
      }

      function getOffset(textarea) {
        let style = window.getComputedStyle(textarea, null),
          props = ["paddingTop", "paddingBottom"],
          offset = 0;

        for (let i = 0; i < props.length; i++) {
          offset += parseInt(style[props[i]]);
        }
        return offset;
      }

      function auto_grow(textarea) {
        let offset = getOffset(textarea);
        let newHeight = 0;

        if (textarea.scrollHeight - offset > textarea.maxAllowedHeight) {
          textarea.style.overflowY = "scroll";
          newHeight = textarea.maxAllowedHeight;
        } else {
          textarea.style.overflowY = "hidden";
          textarea.style.height = "auto";
          newHeight = textarea.scrollHeight - offset;
        }
        textarea.style.height = newHeight + "px";
      }

      $("#info-bar-open-button").click(() => {
        $(".main").append("<div id='darkable'></div>");
        if ($(".info-bar").width() == 0) {
          $(".info-bar").animate({ width: "250px" }, 300);
          $("#darkable").animate({ opacity: 0.4 }, 300);
        }
      });
      $("#info-bar-close-button").click(() => {
        if ($(".info-bar").width() != 0) {
          $(".info-bar").animate({ width: "0%" }, 300);
          $("#darkable").animate({ opacity: 0 }, 300, () => {
            $("#darkable").remove();
          });
        }
      });

      socket.on("connect", () => {
        socket.emit("join");
      });

      function submitForm(e) {
        e.preventDefault();
        let message = $("#inputField").val().trim();

        if (message != "") {
          socket.emit("send_message", {
            username: "{{ data.username }}",
            message: message,
          });
          $("#inputField").css("height", "auto");
          $("#inputField").val("").focus();
        }
      }

      function scrollToBottom() {
        document
          .getElementsByClassName("messages")[0]
          .lastElementChild.scrollIntoView({
            behavior: "smooth",
            block: "end",
          });
      }

      socket.on("receive_message", (msg) => {
        message = msg.message;

        if (msg.username == "{{ data.username }}") {
          $(".messages").append(
            `<div class="message_container">
              <div class="message from_user">${message}</div>
            </div>`
          );
        } else {
          if (!document.getElementById("typingStatus")) {
            $("#typingStatus").parent().remove();
          }

          messageToAppend = (nameIsSame) =>
            `<div class="message_container">
              <div class="message${nameIsSame ? " repeated" : ""}">` +
            (nameIsSame
              ? ""
              : `<b class="message_name">${msg.username}</b><br>`) +
            `${message}</div>
            </div>`;

          let condition;
          let messageQueryElement = $(".message:has(b), .from_user");
          let lastSuitableElement =
            messageQueryElement.toArray()[messageQueryElement.length - 1];

          if (
            lastSuitableElement &&
            lastSuitableElement.tagName == "DIV" &&
            lastSuitableElement.querySelector("b")
          ) {
            condition =
              lastSuitableElement.querySelector("b").textContent ==
              msg.username;
          } else {
            condition = false;
          }

          if (document.getElementById("typingStatus")) {
            $(messageToAppend(condition)).insertBefore(
              $("#typingStatus").parent()
            );
          } else {
            $(".messages").append(messageToAppend(condition));
          }
        }
        scrollToBottom();
      });

      socket.on("status", (msg) => {
        if (msg.type == "join") {
          $(".messages").append(
            "<b style='margin-bottom: 10px'>" +
              msg.username +
              " has joined the room</b>"
          );

          pariticpants_list = [];
          for (var element of document.getElementsByClassName("participants")[0]
            .children) {
            pariticpants_list.push(element.innerText);
          }
          if (!pariticpants_list.includes(msg.username)) {
            $(".participants").append("<div><p>" + msg.username + "</p></div>");
          }
        } else if (msg.type == "leave") {
          $(".messages").append(
            "<div><b>" + msg.username + " has left the room</b></div>"
          );
        } else if (
          msg.type == "typing" &&
          msg.username != "{{ data.username }}"
        ) {
          if (msg.typing && !document.getElementById("typingStatus")) {
            $(".messages").append(
              `<div class="message_container">
                <div class="message" id="typingStatus">${msg.username} is typing...</div>
              </div>`
            );
          } else if (!msg.typing) {
            $("#typingStatus").parent().remove();
          }
        }
        scrollToBottom();
      });

      function leave() {
        socket.emit("leave");
        socket.disconnect();
        window.location.href = "/";
      }

      var timeout = null;
      $("#inputField").on("input", function () {
        socket.emit("typing_status", { typing: true });

        if (timeout) {
          clearTimeout(timeout);
        }
        timeout = setTimeout(function () {
          socket.emit("typing_status", { typing: false });
        }, 800);
      });
    </script>
  </body>
</html>
